{% extends "layout.html" %} {% block content %}
<div class="page-header">
    <h1>Welcome to Twitter.js, Nimit</h1>
</div>
<div class="row">
    <div class="col-md-3">
        <img src="http://lorempixel.com/48/48">
        <br>
        <b>Nimit</b>
        <br> 100 followers
        <br> {% if showForm %}
        <form action="/submit" method="POST">
            <label for="name_field">Name:</label>
            <input name="name" type="text" id="name_field" value="{{name}}" />
            <label for="text_field">Text:</label>
            <input name="text" type="text" id="text_field" style="width: 350px;" />
            <input type="submit" value="Submit" />
        </form>
        {% endif %}
    </div>
    <div class="col-md-9" id='tweetHolder'>
        <!-- display tweets here -->
        {% for tweet in tweets %}
        <span class="well well-sm col-xs-12">
    <span class = "tweetbox col-xs-3"><img src = "http://lorempixel.com/48/48" class = "img-responsive"></span>
        <h1 class="tweetName col-xs-9"><a href="/users/{{tweet.name}}">{{tweet.name}}</a></h1>
        <br>
        <span class="tweetText">{{tweet.text}}</span>
        </span>
        {% endfor %}
    </div>
</div>
<script src="/socket.io/socket.io.js"></script>
<script>
// Load the socket.io library above, then connect to the server.
// Because the socket.io server is being run on the same server as your 
// Express instance, you can connect() without any arguments.
var socket = io.connect();

// When 'new_tweet' events are fired, do something with the packaged tweet
socket.on('new_tweet', function(tweet) {
    console.log(tweet);
    // some logic to add the new tweet to the DOM…
    //$("#tweetHolder").append("<li>" + tweet.name + ' ' + tweet.text + '</li>');
    $("#tweetHolder").append("<span class='well well-sm col-xs-12'><span class = 'tweetbox col-xs-3'><img src = 'http://lorempixel.com/48/48' class = 'img-responsive'></span><h1 class='tweetName col-xs-9'><a href='/users/{{tweet.name}}'>" + tweet.name + "</a></h1><br><span class='tweetText'>" + tweet.text + "</span></span>");
});
</script>
{% endblock %}
